* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy", sans-serif;
}

body {
    min-height: 100vh;
    background: rgb(224, 214, 235) 0%;
    background: linear-gradient(180deg,
            rgb(224, 214, 235) 0%,
            rgb(13, 4, 22) 100%);
}

@import "./library";
@import "./player";
@import "./song";
@import "./nav";

h2,
h3 {
    color: #dac3fa;
}

h3,
h4 {
    font-weight: 600;
}

button {
    font-weight: 700;
}