.library {
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background: rgb(54, 34, 75) 0%;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.205);
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.2s ease;
    opacity: 0;

    h2 {
        padding: 2rem;
    }
}

.library-song {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;

    img {
        width: 4.5rem;
        height: 4.5rem;
    }

    &:hover {
        background: rgb(239, 208, 249);
    }
}

.song-description {
    padding-left: 1rem;

    h3 {
        font-size: 1rem;
    }

    h4 {
        color: #e4d6f9;
        font-size: 0.7rem;
    }
}

.library-song:hover {

    h3 {
        color: rgb(60, 22, 60);
        font-size: 1rem;
    }

    h4 {
        color: rgb(62, 42, 83);
        font-size: 0.7rem;
    }
}



::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(19, 0, 39);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(255, 230, 255);
}

.selected {
    background: rgb(255, 230, 255);

    h3,
    h4 {
        color: rgb(60, 22, 60);
    }
}

.active {
    transform: translateX(0%);
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .library {
        width: 100%;
    }
}